@charset "UTF-8";

/* common */

.header {
  width: 100%;
  min-height: 3.2rem;
  color: #454d5d;
  border-bottom: 1px solid rgba(172, 179, 194, 0.2);
  background: #fff;
}

.header-pc {
  display: flex;
  height: 3.2rem;
  justify-content: space-between;
  align-items: center;
padding: 0.5em 0 0.3em;
}

.header-logo img {
  width: 231px;
  height: 35px;
}

@media (max-width : 768px) { 
  .header-pc {
    justify-content: flex-start;
  }
}

.off-canvas .off-canvas-toggle {
  font-size: 1rem;
  right: 0.75rem;
  position: fixed;
  top: 0.75rem;
}

.side-menu {
    list-style: none;
    margin: 0;
    min-width: 220px;
    padding: .4rem;
    transform: translateY(.2rem);
    z-index: 300;
}

.side-menu .menu-item {
    margin-top: 0;
    padding: 0 .4rem;
    position: relative;
    text-decoration: none;
}
.side-menu .menu-item > a {
    color: inherit;
    display: block;
    margin: 0 -0.4rem;
    padding: 0.5rem 0.4rem;
    text-decoration: none;
}

/* top page */

/* about */

/* recruit */

/* contact */

/*layout*/
.box {
  background: #00d1b2;
  padding: 1.5em;
  text-align: center;
  color:#fff;
}


