{{#extend "layout-animation"}}
{{#content "title"}}レイアウトのサンプル{{/content}}
{{#content "body"}}

<section class="section" id="feature01">
  <div class="container">

    <h2 class="title">01：大栄鉄工所の品質</h2>

    <section class="sectionBlock">
      <h3 class="title">県内トップクラスの規模と体制</h3>
      <div class="col_2">
        <div class="ef-fadeup">
          <p>
            1990年に国土交通省の性能評価基準Mグレードを取得して以来、人員、設備、生産体制の強化を続け、千葉県内Mグレード企業としては規模、品質、技能のいずれもトップを誇る企業にまで成長してきました。Hグレードを含む独自調査においても、県内2～3位の規模・体制を誇ります。今後も、Hグレードの取得とさらなる規模拡張、人員強化を計画しており、千葉県を代表する鉄鋼企業を目指しています。
          </p>
        </div>
        <div>
          <div class="ef-fadeup"><img src="./assets/images/base/sample-image.png" alt="" class="img-responsive">
            <div class="js-extractAltText">写真：大栄鉄工所の品質</div>
          </div>
        </div>
      </div>
    </section>

    <section class="sectionBlock ef-fadeup">
      <h3 class="title">徹底したガイドライン化と人材育成</h3>
      <div class="col_2">
        <div>
          <p>
            大栄鉄工所が作成する資料には、安全や品質を担保するための様々な工夫が施されており、それらを適切に運用する数々のルールが定められています。また、品質には社員の質も大きな影響を与えると考えています。経営理念や行動指針を浸透させる社内的な取り組み、上司と部下を交えたモチベーションを高める評価制度など、品質の根幹にある「人の質」の向上にも力を入れています。
          </p>
        </div>
        <div>
          <div class="js-imageText"><img src="./assets/images/base/sample-image.png" alt="" class="img-responsive">
            <div class="js-extractAltText">写真：大栄鉄工所の品質</div>
          </div>
        </div>
      </div>
    </section>

  </div>
</section>

<section class="section" id="feature02">
  <div class="container">
    <h2 class="title">02：大栄鉄工所のスピード</h2>
    <section class="sectionBlock ef-fadeup">
      <h3 class="title">設計と製造が融合した本社機能</h3>
      <div class="col_2">
        <div>
          <div class="js-imageText"><img src="./assets/images/base/sample-image.png" alt="" class="img-responsive">
          </div>
        </div>
        <div>
          <p>
            2014年に新たに建設された本社は、オフィスと工場が併設されており、1～2分で双方を行き来できるよう動線が設計されています。これにより、設計と製造での打ち合わせ、図面の引き渡し、双方での仕様確認、プロセスのチェックなど、設計から製造に至るあらゆる工程で、頻繁に発生する時間的ロスを最小限に抑え、ボトルネックの発生を極力防ぐことができるように工夫されています。
          </p>
        </div>
      </div>
    </section>
    <section class="sectionBlock ef-fadeup">
      <h3 class="title">生産性の追求で生み出された長い通路と大規模工場</h3>
      <div class="col_2">
        <div>
          <p>
            敷地面積38,828平方メートルを誇る工場には、長さ210メートル、幅5メートルの通路が中央にレイアウトされています。通路の両サイドには搬入から加工、塗装、出荷に至るまでの一連のプロセスに合わせて機器が設置されており、大型車両で材料の運搬ができるようになっています。工場には、生産スピードを向上させるためのこのような工夫が数多く施されています。
          </p>
        </div>
        <div>
          <div class="js-imageText"><img src="./assets/images/base/sample-image.png" alt="" class="img-responsive">
            <div class="js-extractAltText">写真：大栄鉄工所のスピード</div>
          </div>
        </div>
    
    </section>
  </div>
</section>



{{/content}}
{{/extend}}