{{#extend "layout-home"}}
{{#content "title"}}トップページ{{/content}}
{{#content "body"}}


<section class="hero hero-lg bg-gray">
  <div class="hero-body">
    <div class="container text-center">
      <h1 class="title">
        メインのコピーが入ります
      </h1>
    </div>
  </div>
</section>

<section class="section topics">
  <div class="container">
    <div class="text-center">
      <h2>TOPICS</h2>
    </div>
  </div>
</section>


  <section class="hero is-p0">
    <div class="field-list">
      <div class="ef-fadeup"><img class="img-responsive" src="{{ site.root }}assets/images/base/sample-01.jpg"></div>
      <div class="ef-fadeup"><img class="img-responsive" src="{{ site.root }}assets/images/base/sample-02.jpg"></div>
    </div>

<section class="section 1minute">
  <div class="container">
    <div class="text-center">
      <h2>1分で分かる○○</h2>
<div class="hide-sm">PCのみ表示</div>
<div class="show-sm">モバイルのみ表示</div>
    </div>
    </divn>
</section>

<section class="section aboutus">
  <div class="container">
    <div class="text-center">
      <h2>ABOUT US</h2>

    </div>
  </div>
</section>

<section class="section people bg-gray">
  <div class="container grid-sm">
    <div class="text-center">
      <h2>PEOPLE</h2>
      <span class="h3">先輩社員インタビュー</span>
    </div>
   
  </div>
</section>

<section class="section workstyle">
  <div class="container grid-sm text-center">
    <h2>WORK STYLE</h2>
   <span class="h3">事業内容</span>
   </div>
</section>

<section class="section recruit">
  <div class="container">
    <div class="text-center">
      <h2>RECRUIT</h2>
<div class="parent">
        
      </div>
    </div>
  </div>
</section>


{{/content}}
{{/extend}}
