$ptl-bgcolor: #363636;

.pageTopLink {
 clear: both;
 position: fixed;
 z-index: 200;
 right: 0;
 bottom: 50px;
 text-align: right;
 line-height: 1.2;
 & a {
  display: block;
  padding: 13px 15px;
  color: #fff;
  background: $ptl-bgcolor;
 }
 @media (max-width: $size-lg) {
  display: block;
  position: static;
  & a {
   padding: 8px 0;
   text-align: center;
   border-top: #f1f1f1 solid 2px;
  }
 }
}
