<div class="pageTopLink"><a href="#top" class="js-scroll"><i class="fa fa-chevron-up"></i></a></div>

  
  <footer class="footer">
    <div class="container grid-xs">
      <div class="footer__content">
 
        <div class="footer__logo"><img src="{{ site.root }}assets/images/base/logo.png" alt=""></div>
        <div class="footer__link"><a href="#">コーポレートサイト</a> <a href="#">個人情報保護法</a></div>
 
      </div>
    </div>
    <div class="footer__copy">Copyright &copy; {{ site.copyright }} Co.,Ltd All Rights Reserved.</div>
  </footer>