<section class="header fixed">
  <div class="container hide-md">
    <header class="header-pc">
  <div class="header-logo"><a href="index.html"><img src="{{ site.root }}assets/images/base/logo.png" alt=""></a></div>
  <div class="gnav">
    <a href="layout.html" class="btn btn-link">会社概要</a>
    <a href="animation.html" class="btn btn-link">事業内容</a>
    <a href="#" class="btn btn-link">建築施工について</a>
    <a href="#" class="btn btn-link">施工実績</a>
    <a href="#" class="btn btn-link">採用情報</a>
  </div>
  </header>
  </div>

<header class="off-canvas show-md">
    <a class="off-canvas-toggle btn btn-primary btn-action" href="#side-nav">
      <i class="icon icon-menu"></i>
    </a>

    <div id="side-nav" class="off-canvas-sidebar">
      <ul class="side-menu">
        <li class="menu-item"><a href="#">ホーム</a></li>
        <li class="menu-item"><a href="#">会社概要</a></li>
        <li class="menu-item"><a href="#">事業内容</a></li>
        <li class="menu-item"><a href="#">建築施工について</a></li>
        <li class="menu-item"><a href="#">施工実績</a></li>
        <li class="menu-item"><a href="#">採用情報</a></li>
      </ul>
    </div>

    <a class="off-canvas-overlay" href="#close"></a>

    <div class="off-canvas-content">
      <div class="mobile-logo"><a href="{{ home_url }}/entry"><img src="{{ site.root }}assets/images/base/logo.png" alt=""></a></div>
    </div>
  </header>
  
</section>