
<aside class="sidebarMenu">
<div class="menu">
  <div class="menu-item">このサイトについて</div>
  <div class="divider"></div>
  <div class="menu-item">このサイトはcssフレームワークのBULMAをベースにして作成した「Bdivma Theme」のマニュアルサイトです。</div>
</div>
</aside>

<aside class="sidebarMenu">
<ul class="menu">
  <li class="menu-item">
      カテゴリー
  </li>
  <li class="divider">
  </li>

  <li class="menu-item">
    <a href="#">
      <i class="icon icon-link"></i> Slack
    </a>
  </li>
  <!-- menu item with form control -->
  <li class="menu-item">
    <label class="form-checkbox">
      <input type="checkbox">
      <i class="form-icon"></i> form-checkbox
    </label>
  </li>
  <!-- menu divider -->
  <li class="divider"></li>
  <!-- menu item with badge -->
  <li class="menu-item">
    <a href="#">
      <i class="icon icon-link"></i> Settings
    </a>
    <div class="menu-badge">
      <label class="label label-primary">2</label>
    </div>
  </li>

  <li class="menu-item">
    <a href="#">My profile</a>
    <div class="menu-badge">
      <label class="form-checkbox">
        <input type="checkbox">
        <i class="form-icon"></i> Public
      </label>
    </div>
  </li>
</ul>
</aside>